.checkboxInput {
  display: flex;
  align-items: center;

  &.isDisabled {
    pointer-events: none;
    color: $color-font-grey-light;
  }

  .input {
    width: $size-spacing-lg;
    height: $size-spacing-lg;
  }

  .checkboxInputInstructions {
    margin-left: $size-spacing-sm;
    font-size: $size-font-sm;

    & * {
      font-size: $size-font-sm;
    }
  }
}