.checkbox {
  display: flex;
  align-items: center;

  &.isDisabled {
    color: var(--color-font-grey-light);
    pointer-events: none;
  }

  .input {
    margin: 0 var(--size-spacing-sm) 0 0;
    width: var(--size-spacing-lg);
    height: var(--size-spacing-lg);
  }
}
