.checkbox {
  display: flex;
  align-items: flex-start;
  line-height: var(--form-control-line-height);

  &.disabled {
    pointer-events: none;
  }

  &.inline {
    display: inline-flex;
  }

  .input {
    margin: 0 var(--size-spacing-sm) 0 0;
    width: var(--size-spacing-lg);
    height: var(--size-spacing-lg);
  }
}
