@import '../../styles/variables.scss';

.Palmetto-CheckboxInput {
  display: flex;
  align-items: center;

  &.isDisabled {
    color: $color-font-grey-light;
    pointer-events: none;
  }

  .input {
    margin: 0 $size-spacing-sm 0 0;
    width: $size-spacing-lg;
    height: $size-spacing-lg;
  }
}
