@import '~@palmetto/palmetto-design-tokens/build/scss/variables-size';

@mixin size-sm {
  font-size: var(--badge-size-sm-font-size, var(--size-font-2xs));
  padding: var(--badge-size-sm-padding-vertical, var(--size-spacing-2xs))
    var(--badge-size-sm-padding-horizontal, var(--size-spacing-2xs));
}

%size-sm {
  @include size-sm;
}
.size-sm {
  @extend %size-sm;
}

@mixin size-md {
  font-size: var(--badge-size-md-font-size, var(--size-font-xs));
  padding: var(--badge-size-md-padding-vertical, var(--size-spacing-2xs))
    var(--badge-size-md-padding-horizontal, var(--size-spacing-xs));
}

%size-md {
  @include size-md;
}
.size-md {
  @extend %size-md;
}

@mixin size-lg {
  font-size: var(--badge-size-lg-font-size, var(--size-font-sm));
  padding: var(--badge-size-lg-padding-vertical, var(--size-spacing-2xs))
    var(--badge-size-lg-padding-horizontal, var(--size-spacing-xs));
}

%size-lg {
  @include size-lg;
}
.size-lg {
  @extend %size-lg;
}

@mixin size-xl {
  font-size: var(--badge-size-xl-font-size, var(--size-font-md));
  padding: var(--badge-size-xl-padding-vertical, var(--size-spacing-xs))
    var(--badge-size-xl-padding-horizontal, var(--size-spacing-sm));
}

%size-xl {
  @include size-xl;
}
.size-xl {
  @extend %size-xl;
}

.badge {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: var(--badge-font-weight, var(--size-font-weight-bold));

  &.size-sm {
    @extend %size-sm;
  }
  &.size-md {
    @extend %size-md;
  }
  &.size-lg {
    @extend %size-lg;
  }
  &.size-xl {
    @extend %size-xl;
  }

  @media (min-width: $size-breakpoint-tablet) {
    &.size-sm-tablet {
      @include size-sm;
    }
    &.size-md-tablet {
      @include size-md;
    }
    &.size-lg-tablet {
      @include size-lg;
    }
    &.size-xl-tablet {
      @include size-xl;
    }
  }

  @media (min-width: $size-breakpoint-desktop) {
    &.size-sm-desktop {
      @include size-sm;
    }
    &.size-md-desktop {
      @include size-md;
    }
    &.size-lg-desktop {
      @include size-lg;
    }
    &.size-xl-desktop {
      @include size-xl;
    }
  }

  @media (min-width: $size-breakpoint-hd) {
    &.size-sm-hd {
      @include size-sm;
    }
    &.size-md-hd {
      @include size-md;
    }
    &.size-lg-hd {
      @include size-lg;
    }
    &.size-xl-hd {
      @include size-xl;
    }
  }
}
