{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "cjs" }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "build": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "babel-plugin-typescript-to-proptypes",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "storybook": {
      "presets": []
    }
  }
}
