{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "cjs" }],
        "@babel/preset-react",
        ["@babel/preset-typescript", { "allExtensions": true, "isTSX": true }]
      ],
      "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime"
      ]
    },
    "build": {
       "presets": [
         ["@babel/preset-env", { "modules": false }],
         "@babel/preset-react",
         ["@babel/preset-typescript", { "allExtensions": true, "isTSX": true }]
        ]
     }
  }
}
