{
  "extends": ["airbnb", "airbnb/hooks", "plugin:jest/recommended"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": [".storybook/**", "stories/**", "**/*.stories.jsx"] }
    ]
  }
}