{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "jest"
  ],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true }
    ],
    "react/jsx-props-no-spreading": [0],
    "max-len": [1, 120]
  }
}