{
  "branches": ["main", { "name": "beta", "prerelease": true }],
  "plugins": [
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        { "type": "docs", "release": "patch" },
        { "type": "test", "release": "patch" },
        { "type": "refactor", "release": "patch" },
        { "type": "perf", "release": "patch" },
        { "type": "style", "release": "patch" },
        { "type": "ci", "release": "patch" },
        { "type": "build", "release": "patch" },
        { "type": "feat", "release": "minor" },
        { "type": "fix", "release": "patch" }
      ]
    }]
  ]
}