{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines",
    "stylelint-config-concentric-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "max-nesting-depth": 4
  }
}