@import '../../styles/variables.scss';

.button {
  --button-color: var(--color-base-white);
  --button-color-background: var(--color-brand-primary-base);
  --button-color-background-hover: var(--color-brand-primary-dark);
  --button-color-background-disabled: var(--color-brand-primary-light);

  // small
  --button-size-sm-border-radius: 4px; // var(--size-border-radius-sm);
  --button-size-sm-font-size: var(--size-font-sm);
  --button-size-sm-padding: var(--size-spacing-xs) var(--size-spacing-sm);

  // medium (default)
  --button-size-md-border-radius: 8px; // var(--size-border-radius-md);
  --button-size-md-font-size: var(--size-font-md);
  --button-size-md-padding: var(--size-spacing-sm) var(--size-spacing-md);

  // large
  --button-size-lg-border-radius: 8px; // var(--size-border-radius-md);
  --button-size-lg-font-size: var(--size-font-lg);
  --button-size-lg-padding: var(--size-spacing-md) var(--size-spacing-lg);

  position: relative;
  padding: var(--button-size-md-padding);
  border: none;
  border-radius: var(--button-size-md-border-radius);
  color: var(--button-color);
  background-color: var(--button-color-background);
  font-size: var(--button-size-md-font-size);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.25; /* hack to get the button to match TextInput's 44px height */
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: background-color, border, box-shadow;

  &.sm {
    border-radius: var(--button-size-sm-border-radius);
    font-size: var(--button-size-sm-font-size);
    line-height: 1.2;
    padding: var(--button-size-sm-padding);
  }

  &.lg {
    border-radius: var(--button-size-lg-border-radius);
    font-size: var(--button-size-lg-font-size);
    line-height: 1;
    letter-spacing: 1px;
    padding: var(--button-size-lg-padding);
  }

  &:hover {
    background-color: var(--button-color-background-hover);
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--button-color-background-disabled);
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
