@import '../../styles/variables.scss';

.Palmetto-Button {
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, border, box-shadow;
  transition-timing-function: ease-in;
  border: none;
  border-radius: 8px;
  background-color: $color-brand-primary-base;
  cursor: pointer;
  padding: $size-spacing-sm $size-spacing-md;
  line-height: 1.25; // hack to get the button to match TextInput's 44px height
  letter-spacing: 0.2px;
  color: $color-base-white;
  font-size: $size-font-md;
  font-weight: 700;

  &:hover {
    background-color: $color-brand-primary-dark;
  }

  &:disabled {
    background-color: $color-brand-primary-light;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.loading {
    .buttonLabel {
      visibility: hidden;
    }

    .buttonLoadingIndicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .spin {
        display: inherit;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;

        @keyframes spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }

          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
