@import '../../styles/variables.scss';

:root {
  --button-size-medium-border-radius: var(--size-border-radius-md);
  --button-size-medium-font-size: var(--size-font-md);
  --button-size-small-font-size: var(--size-font-sm);
  --button-size-large-font-size: var(--size-font-lg);
  --button-color-background: var(--color-brand-primary-base);
}

.Palmetto-Button {
  font-family: inherit;
  position: relative;
  padding: $size-spacing-sm $size-spacing-md;
  border: none;
  border-radius: var(--button-size-medium-border-radius);
  color: $color-base-white;
  background-color: var(--button-color-background);
  font-size: var(--button-size-medium-font-size);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.25; // hack to get the button to match TextInput's 44px height
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: background-color, border, box-shadow;

  &.sm {
    border-radius: $size-border-radius-sm;
    font-size: var(--button-size-small-font-size);
    line-height: 1.2;
    padding: $size-spacing-xs $size-spacing-sm;
  }

  &.lg {
    font-size: var(--button-size-large-font-size);
    line-height: 1;
    letter-spacing: 1px;
    padding: $size-spacing-md $size-spacing-lg;
  }

  &:hover {
    background-color: $color-brand-primary-dark;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: $color-brand-primary-light;
  }

  &.loading {
    .buttonLabel {
      visibility: hidden;
    }

    .buttonLoadingIndicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loadingAnimation {
        display: inherit;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;

        @keyframes spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }

          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
