@import '../../styles/variables.scss';

.button {
  position: relative;
  padding: var(--size-spacing-sm) var(--size-spacing-md);
  border: none;
  border-radius: 8px;
  color: var(--color-base-white);
  background-color: var(--color-brand-primary-base);
  font-size: var(--size-font-md);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.25; /* hack to get the button to match TextInput's 44px height */
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: background-color, border, box-shadow;

  &:hover {
    background-color: var(--color-brand-primary-dark);
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--color-brand-primary-light);
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
