.table-cell {
  border-color: var(--color-border-separator);
  border-bottom-style: solid;
  border-width: 0 0 var(--size-border-xs) 0;
  color: var(--color-text-body-primary);
  font-size: var(--size-font-sm);
  padding: var(--size-spacing-md) var(--size-spacing-lg);

  &.borderless {
    border-width: 0;
  }

  &.compact {
    padding: var(--size-spacing-xs) var(--size-spacing-xs);
  }

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.sticky-column-left {
    background-color: var(--color-background-primary);
    left: 0;
  }

  &.sticky-column-right {
    background-color: var(--color-background-primary);
    right: 0;
  }

  &.sticky-column {
    position: sticky;
    z-index: calc(var(--size-z-index-sticky) - 1);
    background-color: var(--color-background-primary);
    box-shadow: 5px 0 5px -2px rgb(0 0 0 / 10%),
      -5px 0 5px -2px rgb(0 0 0 / 10%);
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }
}
