.tab-item {
  border-bottom: 2px solid transparent;
  font-weight: var(--tabs-font-weight, var(--size-font-weight-bold));
  transition: color 0.2s, border-color 0.2s;

  &[disabled] {
    cursor: not-allowed;
  }


  &:focus {
    outline: 0;
    box-shadow: inset
      var(--form-control-box-shadow-focus, var(--INTERNAL_form-control-box-shadow-focus));
  }

  //Show focus styles on keyboard focus.
  &:focus-visible {
    outline: 0;
    box-shadow: inset
      var(--form-control-box-shadow-focus, var(--INTERNAL_form-control-box-shadow-focus));
  }

  &--selected {
    &:not(.disabled) {
      border-bottom: 2px solid var(--tabs-selected-border-color, var(--color-brand-primary-500));
      color: var(--tabs-selected-font-color, var(--color-brand-primary-500));

      &:hover {
        color: var(--tabs-selected-font-color-hover, var(--color-brand-primary-600));
      }
    }

    &.disabled {
      border-bottom: 2px solid var(--color-brand-grey-100);
      color: var(--color-brand-grey-100);
    }
  }

  &:not(.disabled) {
    &:hover {
      color: var(--tabs-font-color-hover, var(--color-brand-primary-500));
      cursor: pointer;
    }
  }

  // Hide focus styles if they are not needed, for example,
  // when an element receives focus via the mouse.
  &:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}
