.tab-item {
  border-bottom: 2px solid transparent;
  font-weight: var(--size-font-weight-bold);
  transition: color 0.2s, border-color 0.2s;

  &[disabled] { /* stylelint-disable-line */
    cursor: not-allowed;
  }

  /* define regular focus styles for non-supporting browsers */
  &:focus {
    outline: 0;
    box-shadow: inset var(--form-control-focus-box-shadow, var(--INTERNAL_form-control-focus-box-shadow));
  }

  /* Show focus styles on keyboard focus. */
  &:focus-visible {
    outline: 0;
    box-shadow: inset var(--form-control-focus-box-shadow, var(--INTERNAL_form-control-focus-box-shadow));
  }

  &--selected {
    &:not(.disabled) {
      border-bottom: 2px solid var(--color-brand-primary-base);
      color: var(--color-brand-primary-base);

      &:hover { /* stylelint-disable-line */
        color: var(--color-brand-primary-dark);
      }
    }

    &.disabled {
      border-bottom: 2px solid var(--color-brand-grey-100);
      color: var(--color-brand-grey-100);
    }
  }

  &:not(.disabled) {
    &:hover {
      color: var(--color-brand-primary-base);
      cursor: pointer;
    }
  }

  /* Hide focus styles if they're not needed, for example,
  when an element receives focus via the mouse. */
  &:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}
