.tab-item {
  border-bottom: 2px solid transparent;
  font-weight: var(--size-font-weight-bold);

  &:not(.disabled) {
    &:hover {
      border-bottom: 2px solid var(--color-brand-primary-base);
      background-color: var(--color-brand-grey-50);
      color: var(--color-brand-primary-base);
    }
  }

  &--selected {
    border-bottom: 2px solid var(--color-brand-primary-base);
    background-color: var(--color-brand-grey-50);

    &:hover {
      color: var(--color-brand-primary-dark);
    }
  }

  &--small {
    font-size: var(--size-font-sm);
  }
}
