.tab-item {
  > button {
    border-bottom: 2px solid transparent;
    font-weight: var(--size-font-weight-bold);
    transition: color 0.2s, border-color 0.2s;

    &[disabled] {
      cursor: not-allowed;
    }

    /* define regular focus styles for non-supporting browsers */
    &:focus {
      outline: 0;
      box-shadow: inset var(--input-focus-box-shadow);
    }

    /* Show focus styles on keyboard focus. */
    &:focus-visible {
      outline: 0;
      box-shadow: inset var(--input-focus-box-shadow);
    }

    /* Hide focus styles if they're not needed, for example,
    when an element receives focus via the mouse. */
    &:focus:not(:focus-visible) {
      outline: 0;
      box-shadow: none;
    }
  }

  &--selected {
    &:not(.disabled) {
      > button { /* stylelint-disable-line */
        border-bottom: 2px solid var(--color-brand-primary-base);
        color: var(--color-brand-primary-base);
  
        &:hover { /* stylelint-disable-line */
          color: var(--color-brand-primary-dark);
        }
      }
    }

    &.disabled {
      > button { /* stylelint-disable-line */
        border-bottom: 2px solid var(--color-brand-grey-100);
        color: var(--color-brand-grey-100);
      }
    }
  }

  &:not(.disabled) {
    > button { /* stylelint-disable-line */

      &:hover {
        color: var(--color-brand-primary-base);
        cursor: pointer;
      }
    }
  }
}
