.option {
  &:focus {
    outline: 0;
    box-shadow: var(--option-tile-box-shadow-focus, var(--INTERNAL_form-control-box-shadow-focus));
  }

  &:focus-within {
    border-color: var(--color-brand-primary-500);
  }

  &:focus-visible {
    outline: 0;
    box-shadow: var(--option-tile-box-shadow-focus, var(--INTERNAL_form-control-box-shadow-focus));
  }

  &:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}
