@import '../../styles/variables.scss';

.Palmetto-RadioGroup {
  .fieldset {
    margin: 0;
    padding: 0;
    border: none;

    .legend {
      font-size: $size-font-sm;
      color: $color-font-base;
      display: block;
      font-weight: 700;
  
      &.error {
        color: $color-brand-danger-base;
      }
    }

    .options {
      margin-top: $size-spacing-xs;
    }
  }
}
