
// min-width and min-height needed because of this
// https://stackoverflow.com/questions/36247140/why-doesnt-flex-item-shrink-past-content-size
.flex-auto { 
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-direction-column { flex-direction: column; }
.flex-direction-row { flex-direction: row; }

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-evenly { justify-content: space-evenly; }

.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-baseline { align-items: baseline; }
.align-items-stretch { align-items: stretch; }

.align-content-start { align-content: flex-start; }
.align-content-end { align-content: flex-end; }
.align-content-center { align-content: center; }
.align-content-stretch { align-content: stretch; }
.align-content-between { align-content: space-between; }
.align-content-around { align-content: space-around; }

.align-self-start { align-self: flex-start; }
.align-self-end { align-self: flex-end; }
.align-self-center { align-self: center; }
.align-self-baseline { align-self: baseline; }
.align-self-stretch { align-self: stretch; }

@media (min-width: var(--size-breakpoint-tablet)) {
  .flex-auto-tablet { 
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .flex-direction-column-tablet { flex-direction: column; }
  .flex-direction-row-tablet { flex-direction: row; }

  .flex-wrap-tablet { flex-wrap: wrap; }
  .flex-nowrap-tablet { flex-wrap: nowrap; }
  .flex-wrap-reverse-tablet { flex-wrap: wrap-reverse; }

  .justify-content-start-tablet { justify-content: flex-start; }
  .justify-content-end-tablet { justify-content: flex-end; }
  .justify-content-center-tablet { justify-content: center; }
  .justify-content-between-tablet { justify-content: space-between; }
  .justify-content-around-tablet { justify-content: space-around; }
  .justify-content-evenly-tablet { justify-content: space-evenly; }

  .align-items-start-tablet { align-items: flex-start; }
  .align-items-end-tablet { align-items: flex-end; }
  .align-items-center-tablet { align-items: center; }
  .align-items-baseline-tablet { align-items: baseline; }
  .align-items-stretch-tablet { align-items: stretch; }

  .align-content-start-tablet { align-content: flex-start; }
  .align-content-end-tablet { align-content: flex-end; }
  .align-content-center-tablet { align-content: center; }
  .align-content-stretch-tablet { align-content: stretch; }
  .align-content-between-tablet { align-content: space-between; }
  .align-content-around-tablet { align-content: space-around; }

  .align-self-start-tablet { align-self: flex-start; }
  .align-self-end-tablet { align-self: flex-end; }
  .align-self-center-tablet { align-self: center; }
  .align-self-baseline-tablet { align-self: baseline; }
  .align-self-stretch-tablet { align-self: stretch; }
}

@media (min-width: var(--size-breakpoint-desktop)) {
  .flex-auto-desktop { 
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .flex-direction-column-desktop { flex-direction: column; }
  .flex-direction-row-desktop { flex-direction: row; }

  .flex-wrap-desktop { flex-wrap: wrap; }
  .flex-nowrap-tablet { flex-wrap: nowrap; }
  .flex-wrap-reverse-desktop { flex-wrap: wrap-reverse; }

  .justify-content-start-desktop { justify-content: flex-start; }
  .justify-content-end-desktop { justify-content: flex-end; }
  .justify-content-center-desktop { justify-content: center; }
  .justify-content-between-desktop { justify-content: space-between; }
  .justify-content-around-desktop { justify-content: space-around; }
  .justify-content-evenly-desktop { justify-content: space-evenly; }

  .align-items-start-desktop { align-items: flex-start; }
  .align-items-end-desktop { align-items: flex-end; }
  .align-items-center-desktop { align-items: center; }
  .align-items-baseline-desktop { align-items: baseline; }
  .align-items-stretch-desktop { align-items: stretch; }

  .align-content-start-desktop { align-content: flex-start; }
  .align-content-end-desktop { align-content: flex-end; }
  .align-content-center-desktop { align-content: center; }
  .align-content-stretch-desktop { align-content: stretch; }
  .align-content-between-desktop { align-content: space-between; }
  .align-content-around-desktop { align-content: space-around; }

  .align-self-start-desktop { align-self: flex-start; }
  .align-self-end-desktop { align-self: flex-end; }
  .align-self-center-desktop { align-self: center; }
  .align-self-baseline-desktop { align-self: baseline; }
  .align-self-stretch-desktop { align-self: stretch; }
}

@media (min-width: var(--size-breakpoint-hd)) {
  .flex-auto-hd { 
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .flex-direction-column-hd { flex-direction: column; }
  .flex-direction-row-hd { flex-direction: row; }

  .flex-wrap-hd { flex-wrap: wrap; }
  .flex-nowrap-hd { flex-wrap: nowrap; }
  .flex-wrap-reverse-hd { flex-wrap: wrap-reverse; }

  .justify-content-start-hd { justify-content: flex-start; }
  .justify-content-end-hd { justify-content: flex-end; }
  .justify-content-center-hd { justify-content: center; }
  .justify-content-between-hd { justify-content: space-between; }
  .justify-content-around-hd { justify-content: space-around; }
  .justify-content-evenly-hd { justify-content: space-evenly; }

  .align-items-start-hd { align-items: flex-start; }
  .align-items-end-hd { align-items: flex-end; }
  .align-items-center-hd { align-items: center; }
  .align-items-baseline-hd { align-items: baseline; }
  .align-items-stretch-hd { align-items: stretch; }

  .align-content-start-hd { align-content: flex-start; }
  .align-content-end-hd { align-content: flex-end; }
  .align-content-center-hd { align-content: center; }
  .align-content-stretch-hd { align-content: stretch; }
  .align-content-between-hd { align-content: space-between; }
  .align-content-around-hd { align-content: space-around; }

  .align-self-start-hd { align-self: flex-start; }
  .align-self-end-hd { align-self: flex-end; }
  .align-self-center-hd { align-self: center; }
  .align-self-baseline-hd { align-self: baseline; }
  .align-self-stretch-hd { align-self: stretch; }
}
