@font-face {
  font-family: Nexa;
  src:
    '../fonts/NexaRegular.otf' format('opentype'),
    '../fonts/NexaRegular.woff' format('woff'),
    '../fonts/NexaRegular.woff2' format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nexa;
  src:
    '../fonts/NexaLight.otf' format('opentype'),
    '../fonts/NexaLight.woff' format('woff'),
    '../fonts/NexaLight.woff2' format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nexa;
  src:
    '../fonts/NexaBold.otf' format('opentype'),
    '../fonts/NexaBold.woff' format('woff'),
    '../fonts/NexaBold.woff2' format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Nexa;
  src:
    '../fonts/NexaXBold.otf' format('opentype'),
    '../fonts/NexaXBold.woff' format('woff'),
    '../fonts/NexaXBold.woff2' format('woff2');
  font-weight: 900;
  font-style: normal;
}

