// Visually hide any element (mostly text) accessibly.
// Support includes IE9+
// Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html


@mixin accessible-hidden-element {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
