.option-tile {
  background-color: var(--INTERNAL_form-control-background-color);
  border: 1px solid var(--INTERNAL_form-control-border-color);
  border-radius: var(--INTERNAL_form-control-size-md-border-radius);
  font-family: var(--INTERNAL_form-control-font-family);
  line-height: var(--INTERNAL_form-control-line-height);

  &:focus-within {
    box-shadow: var(--INTERNAL_form-control-box-shadow-focus),
      inset 0 0 0 1px var(--INTERNAL_form-control-border-color-focus);
  }

  &:hover {
    border: 1px solid var(--INTERNAL_form-control-border-color-hover);
  }

  // https://stackoverflow.com/questions/262158/disabled-input-text-color-on-ios
  &.disabled {
    background-color: var(--INTERNAL_form-control-background-color-disabled);
    color: var(--INTERNAL_form-control-font-color-disabled);
    -webkit-text-fill-color: var(--INTERNAL_form-control-font-color-disabled);
    opacity: 1;

    &:hover {
      cursor: not-allowed;
      border: 1px solid var(--INTERNAL_form-control-border-color);
    }
  }

  &.error {
    color: var(--INTERNAL_form-control-font-color-error);

    &:hover {
      border: 1px solid var(--INTERNAL_form-control-border-color-hover);
    }

    &.disabled {
      color: var(--INTERNAL_form-control-font-color-error-disabled);
      -webkit-text-fill-color: var(--INTERNAL_form-control-font-color-error-disabled);

      &:hover {
        border: 1px solid var(--INTERNAL_form-control-border-color);
      }
    }
  }

  &.selected {
    background-color: var(--INTERNAL_form-control-background-color-selected);
    border: 1px solid var(--INTERNAL_form-control-border-color-selected);
    color: var(--color-text-body-primary);

    &.disabled {
      background-color: var(--INTERNAL_form-control-background-color-disabled);
      border: 1px solid var(--INTERNAL_form-control-border-color);

      &:hover {
        border: 1px solid var(--INTERNAL_form-control-border-color);
      }
    }

    &.error {
      background-color: var(--INTERNAL_form-control-background-color-error);
      border: 1px solid var(--INTERNAL_form-control-border-color-selected-error);
      color: var(--INTERNAL_form-control-font-color-error);

      &.disabled {
        color: var(--INTERNAL_form-control-font-color-error-disabled);
        -webkit-text-fill-color: var(--INTERNAL_form-control-font-color-error-disabled);
      }

      &:hover {
        border: 1px solid var(--INTERNAL_form-control-border-color-selected-error);
      }
    }

    &:hover {
      border: 1px solid var(--INTERNAL_form-control-border-color-selected-hover);
    }
  }
}
