.spinner-reset {
  composes: base-css-reset from '../../styles/reset.scss';
}

.spinner {
  svg {
    display: inherit;
    animation: spin 0.85s infinite linear;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

