.table-header-cell {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  border-color: var(--table-border-color, var(--INTERNAL_table-border-color));
  border-bottom-style: solid;
  border-width: 0 0 var(--table-header-border-width, var(--INTERNAL_table-header-border-width)) 0;
  background-color: var(--table-header-background-color, var(--INTERNAL_table-header-background-color));
  color: var(--table-header-font-color, var(--INTERNAL_table-header-font-color));
  font-size: var(--table-header-font-size, var(--INTERNAL_table-header-font-size));
  font-weight: var(--table-header-font-weight, var(--INTERNAL_table-header-font-weight));
  padding: var(--table-padding-vertical, var(--INTERNAL_table-padding-vertical))
    var(--table-padding-horizontal, var(--INTERNAL_table-padding-horizontal));

  &.sortable {
    cursor: pointer;
  }

  &.borderless {
    border-width: 0;
  }

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.compact {
    padding: var(--table-compact-padding-vertical, var(--INTERNAL_table-compact-padding-vertical))
      var(--table-compact-padding-horizontal, var(--INTERNAL_table-compact-padding-horizontal));
  }

  &.sticky-header {
    position: sticky;
    top: 0;
    z-index: var(--size-z-index-sticky);
  }


  &.sticky-column-left {
    left: 0;
  }

  &.sticky-column-right {
    right: 0;
  }

  &.sticky-column {
    position: sticky;
    z-index: calc(var(--size-z-index-sticky) + 1);
    box-shadow: 5px 0 5px -2px rgb(0 0 0 / 10%), -5px 0 5px -2px rgb(0 0 0 / 10%);
    background-color: var(--table-header-background-color, var(--INTERNAL_table-header-background-color));
  }


  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }

  .heading {
    white-space: nowrap;

    .sort-icon {
      margin-left: var(--table-header-sort-icon-spacing, var(--INTERNAL_table-header-sort-icon-spacing));
    }
  }
}
