.colors__color-block__item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  padding: 1rem;
  width: 100px;
  color: white;
}

.colors__color-palette__item {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  width: 100px;
}
