@import '../../styles/variables.css';

.colors__color-block__item {
  padding: 1rem;
  color: white;
  width: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--size-border-radius-md);
}

.colors__color-palette__item {
  padding: 0.5rem 1rem;
  width: 100px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--size-border-radius-md);
}
