.table-header-cell {
  border-bottom: 1px solid var(--table-border-color);
  padding: var(--table-padding-header-vertical) var(--table-padding-horizontal);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: var(--table-header-color);
  font-size: var(--table-header-font-size);
  font-weight: 600;

  &.sticky {
    position: absolute;
    top: auto;
    left: 0;
    border-right: 2px solid var(--table-border-color);
  }

  &.sortable {
    cursor: pointer;
  }

  &.compact {
    padding: var(--table-padding-vertical-compact) var(--table-padding-horizontal-compact);
  }

  &.borderless {
    border: 0;
  }

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }

  .heading {
    white-space: nowrap;

    .sort-icon {
      margin-left: var(--table-header-sort-icon-spacing);
    }
  }
}
