.card-background {
  background-color: var(
    --card-background-color,
    var(--color-background-primary)
  );
}

.card-radius {
  border-radius: var(--size-border-radius-md);
}

.card-shadow {
  box-shadow: var(--size-box-shadow-sm);
}

.card-section-border {
  + .card-section-border {
    border-top: 1px solid var(--color-border-separator);
  }
}

.card-subdued {
  background-color: var(
    --card-subdued-background-color,
    var(--color-brand-grey-50)
  );
  box-shadow: none;

  .card-section-border {
    + .card-section-border {
      border-top: 1px solid var(--color-border-separator);
    }
  }
}

.card-footer-border-color {
  border-color: var(--color-border-separator);
}
