.card {
  box-shadow:
    0 1px 5px 0 rgba(0, 0, 0, 0.05),
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.1);


}

.card-section+.card-section {
  border-top: 1px solid var(--card-border-color);
}

.card-footer {
  border-top: 1px solid var(--card-border-color);
}
