%disabled-base {
  background-color: var(--form-control-disabled-background-color, var(--INTERNAL_form-control-disabled-background-color));
  color: var(--form-control-disabled-font-color, var(--INTERNAL_form-control-disabled-font-color));
  /* https://stackoverflow.com/questions/262158/disabled-input-text-color-on-ios */
  -webkit-text-fill-color: var(--form-control-disabled-font-color, var(--INTERNAL_form-control-disabled-font-color));
  opacity: 1;

  &:hover {
    cursor: not-allowed;
  }
}

.text-input-wrapper {
  font-family: var(--form-control-font-family, var(--INTERNAL_form-control-font-family));
  position: relative;
  box-shadow: var(--form-control-box-shadow, var(--INTERNAL_form-control-box-shadow)), inset 0 0 0 1px var(--form-control-border-color, var(--INTERNAL_form-control-border-color));
  background-color: var(--INTERNAL_form-control-background-color);

  /* Necessary so that inset shadow that we use for border does not get covered by child elements. */
  &:not(.error) {
    > * {
      &:focus,
      &.disabled {
        box-shadow: inset 0 1px 0 0 var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color)), inset 0 -1px 0 0 var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color)); 
      }
    }
  }

  &:focus-within {
    outline: none;
    box-shadow: var(--form-control-box-shadow, var(--INTERNAL_form-control-box-shadow)), inset 0 0 0 1px var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
  }

  &.disabled {
    @extend %disabled-base;
  }

  > input {
    box-sizing: border-box;
    display: flex;
    transition-duration: 300ms;
    transition-property: border, background-color;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    border: none;
    background: none;
    width: 100%;
    line-height: var(--form-control-text-line-height, var(--INTERNAL_form-control-text-line-height));
    color: var(--form-control-font-color, var(--INTERNAL_form-control-font-color));

    &::placeholder {
      /* Override lower placeholder opacity in Firefox */
      opacity: 1;
      color: var(--form-control-placeholder-color, var(--INTERNAL_form-control-placeholder-color));
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      @extend %disabled-base;
      background-color: transparent;
    }
  }

  &.error {
    box-shadow: var(--form-control-box-shadow, var(--INTERNAL_form-control-box-shadow)), inset 0 0 0 1px var(--form-control-error-border-color, var(--INTERNAL_form-control-error-border-color));
    background-color: var(--form-control-error-background-color, var(--INTERNAL_form-control-error-background-color));

    input:focus {
      outline: none;
      background-color: transparent;
    }

    /* Necessary so that inset shadow that we use for border does not get covered by child elements. */
    > * { /* stylelint-disable */
      &:focus {
        box-shadow: inset 0 1px 0 0 var(--form-control-error-border-color, var(--INTERNAL_form-control-error-border-color)), inset 0 -1px 0 0 var(--form-control-error-border-color, var(--INTERNAL_form-control-error-border-color)); 
      }
    }
  }

  .clear-button {
    /* Reset default button styles */
    transition-duration: 0.2s;
    transition-property: color;
    border: 0;
    border-radius: 0;
    background: none;
    cursor: pointer;
    padding-left: 0;
    color: var(--form-control-icon-color, var(--INTERNAL_form-control-icon-color));
    font-style: inherit;

    &:hover {
      color: var(--form-control-icon-hover-color, var(--INTERNAL_form-control-icon-hover-color));
    }
  }
}

.text-input-label {
  margin-bottom: var(--form-control-label-margin, var(--INTERNAL_form-control-label-margin));
}
