%disabled-base {
  background-color: var(--form-control-disabled-background-color);
  color: var(--form-control-disabled-font-color);

  &:hover {
    cursor: not-allowed;
  }
}

.text-input-wrapper {
  box-sizing: border-box;
  display: flex;
  transition-duration: 300ms;
  transition-property: border, background-color;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--form-control-size-md-border-radius);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--form-control-background-color);
  padding: calc(var(--form-control-size-md-padding) - 1px); /* Subtract 1 pixel here to account for nested input */
  width: 100%;
  line-height: var(--form-control-line-height);
  color: var(--form-control-font-color);
  font-size: var(--form-control-size-md-font-size);

  &:focus-within {
    outline: none;
    border-color: var(--form-control-focus-border-color);
  }

  &.disabled {
    @extend %disabled-base;
  }

  > input {
    border: none;
    background-color: inherit;
    width: 100%;
    line-height: var(--form-control-line-height);

    &::placeholder {
      /* Override lower placeholder opacity in Firefox */
      opacity: 1;
      color: var(--form-control-placeholder-color);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      @extend %disabled-base;
    }
  }

  &.error {
    border-color: var(--form-control-error-border-color);
    background-color: var(--form-control-error-background-color);

    &:focus {
      outline: none;
      border-color: var(--form-control-focus-border-color);
      background-color: var(--form-control-background-color);
    }
  }
}

.text-input-label {
  margin-bottom: var(--form-control-label-margin);
}

.clear-button {
  /* Reset default button styles */
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  color: inherit;
  font-style: inherit;
}

.clear-icon {
  transition-duration: 0.2s;
  transition-property: color;
  cursor: pointer;
  color: var(--form-control-icon-color);
  font-size: var(--form-control-text-clear-icon-font-size);

  &:hover {
    color: var(--form-control-icon-hover-color);
  }
}
