%disabled-base {
  background-color: var(--form-control-disabled-background-color);
  color: var(--form-control-disabled-font-color);

  &:hover {
    cursor: not-allowed;
  }
}

.text-input-wrapper {
  position: relative;

  &:focus-within {
    outline: none;
    border-color: var(--form-control-focus-border-color);
  }

  &.disabled {
    @extend %disabled-base;
  }

  > input {
    box-sizing: border-box;
    display: flex;
    transition-duration: 300ms;
    transition-property: border, background-color;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    border: 1px solid var(--form-control-border-color);
    background-color: var(--form-control-background-color);
    width: 100%;
    line-height: var(--form-control-text-line-height);
    color: var(--form-control-font-color);

    &::placeholder {
      /* Override lower placeholder opacity in Firefox */
      opacity: 1;
      color: var(--form-control-placeholder-color);
    }

    &:focus {
      outline: none;
      border-color: var(--form-control-focus-border-color);
      background-color: var(--form-control-background-color);
    }

    &:disabled {
      @extend %disabled-base;
    }
  }

  &.sm {
    > input {
      border-radius: var(--form-control-size-sm-border-radius);
      box-shadow: var(--form-control-size-sm-box-shadow);
      padding: calc(var(--form-control-size-sm-padding) - 1px) var(--form-control-size-sm-padding);
      font-size: var(--form-control-size-sm-font-size);
    }
  }

  &.md {
    > input {
      border-radius: var(--form-control-size-md-border-radius);
      box-shadow: var(--form-control-size-md-box-shadow);
      padding: calc(var(--form-control-size-md-padding) - 1px) var(--form-control-size-md-padding);
      font-size: var(--form-control-size-md-font-size);
    }
  }

  &.lg {
    > input {
      border-radius: var(--form-control-size-lg-border-radius);
      box-shadow: var(--form-control-size-lg-box-shadow);
      padding: calc(var(--form-control-size-lg-padding) - 1px) var(--form-control-size-lg-padding);
      font-size: var(--form-control-size-lg-font-size);
    }
  }

  &.error {
    > input {
      border-color: var(--form-control-error-border-color);
      background-color: var(--form-control-error-background-color);

      &:focus {
        outline: none;
        border-color: var(--form-control-focus-border-color);
        background-color: var(--form-control-background-color);
      }
    }
  }

  .clear-button {
    /* Reset default button styles */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-style: inherit;
  }

  .clear-icon {
    transition-duration: 0.2s;
    transition-property: color;
    cursor: pointer;
    color: var(--form-control-icon-color);
    font-size: var(--form-control-text-clear-icon-font-size);

    &:hover {
      color: var(--form-control-icon-hover-color);
    }
  }
}

.text-input-label {
  margin-bottom: var(--form-control-label-margin);
}
