@import '../../styles/variables.scss';

/* @TODO -- replace any remaining harcoded values with variables or use global utility classes */
.Palmetto-TextInput {
  box-sizing: border-box;
  transition-duration: 300ms;
  transition-property: border, background-color;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  border: 1px solid $color-font-grey-lighter;
  border-radius: 8px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  background-color: $color-base-white;
  padding: $size-spacing-sm;
  width: 100%;
  color: $color-font-base;
  font-size: $size-font-base;

  &::placeholder {
    opacity: 1;
    /* Override lower placeholder opacity in Firefox */
    color: $color-font-grey-light;
  }

  &:disabled {
    background-color: $color-base-grey-50;
    color: $color-font-grey-light;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:focus {
    outline: none;
    border-color: $color-base-grey-600;
  }

  &.error {
    border-color: $color-base-red-200;
    background-color: $color-base-red-50;

    &:focus {
      outline: none;
      border-color: $color-base-grey-600;
      background-color: $color-base-white;
    }
  }

}
