@import '../../styles/variables.scss';

/* @TODO -- replace any remaining harcoded values with variables or use global utility classes */
.Palmetto-TextInput {
  background-color: $color-base-white;
  border: 1px solid $color-font-grey-lighter;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: $size-border-radius-md;
  padding: $size-spacing-sm;
  font-size: $size-font-base;
  color: $color-font-base;
  width: 100%;
  transition-duration: 300ms;
  transition-property: border, background-color;
  transition-timing-function: cubic-bezier(.2, .8, .4, 1);

  &::placeholder {
    opacity: 1;
    /* Override lower placeholder opacity in Firefox */
    color: $color-font-grey-light;
  }

  &:disabled {
    color: $color-font-grey-light;
    background-color: $color-base-grey-50;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:focus {
    border-color: $color-base-grey-600;
    outline: none;
  }

  &.error {
    background-color: $color-base-red-50;
    border-color: $color-base-red-200;

    &:focus {
      background-color: $color-base-white;
      border-color: $color-base-grey-600;
      outline: none;
    }
  }

}
