.alert {
  border-width: var(--alert-border-width, var(--size-border-xs));
  border-style: solid;
  box-shadow: var(--alert-box-shadow, var(--size-box-shadow-0));

  .close-icon {
    > button {
      border: 0;
      background: none;
      cursor: pointer;
      padding: 0;
      color: inherit;
      font: inherit;

      &:hover {
        color: var(--color-brand-grey-600);
      }
    }
  }
}

.alert__default {
  color: var(--alert-default-font-color, var(--color-brand-grey-600));
  background: var(--alert-default-background-color, var(--color-brand-grey-100));
  border-color: var(--alert-default-border-color, var(--color-brand-grey-200));
}

.alert__info {
  color: var(--alert-info-font-color, var(--color-brand-grey-600));
  background: var(--alert-info-background-color, var(--color-brand-info-50));
  border-color: var(--alert-info-border-color, var(--color-brand-info-200));
}

.alert__success {
  color: var(--alert-success-font-color, var(--color-brand-grey-600));
  background: var(--alert-success-background-color, var(--color-brand-success-50));
  border-color: var(--alert-success-border-color, var(--color-brand-success-200));
}

.alert__warning {
  color: var(--alert-warning-font-color, var(--color-brand-grey-600));
  background: var(--alert-warning-background-color, var(--color-brand-warning-50));
  border-color: var(--alert-warning-border-color, var(--color-brand-warning-200));
}

.alert__danger {
  color: var(--alert-danger-font-color, var(--color-brand-grey-600));
  background: var(--alert-danger-background-color, var(--color-brand-danger-50));
  border-color: var(--alert-danger-border-color, var(--color-brand-danger-200));
}

.alert__icon__default { color: var(--alert-default-icon-color, var(--color-brand-grey-600)); }
.alert__icon__info { color: var(--alert-info-icon-color, var(--color-brand-info-500)); }
.alert__icon__success { color: var(--alert-success-icon-color, var(--color-brand-success-500)); }
.alert__icon__warning { color: var(--alert-warning-icon-color, var(--color-brand-warning-500)); }
.alert__icon__danger { color: var(--alert-danger-icon-color, var(--color-brand-danger-500)); }
