.alert {
  .close-icon {
    > button {
      /* Reset default button styles */
      border: 0;
      background: none;
      cursor: pointer;
      padding: 0;
      color: inherit;
      font: inherit;

      &:hover {
        color: var(--color-brand-grey-600);
      }
    }
  }
}

.alert__default {
  color: var(--alert-default-font-color);
  background: var(--alert-default-background-color);
}

.alert__info {
  color: var(--alert-info-font-color);
  background: var(--alert-info-background-color);
}

.alert__success {
  color: var(--alert-success-font-color);
  background: var(--alert-success-background-color);
}

.alert__warning {
  color: var(--alert-warning-font-color);
  background: var(--alert-warning-background-color);
}

.alert__danger {
  color: var(--alert-danger-font-color);
  background: var(--alert-danger-background-color);
}

.alert__icon__default { color: var(--alert-default-icon-color); }
.alert__icon__info { color: var(--alert-info-icon-color); }
.alert__icon__success { color: var(--alert-success-icon-color); }
.alert__icon__warning { color: var(--alert-warning-icon-color); }
.alert__icon__danger { color: var(--alert-danger-icon-color); }
