.category-filter {
  background-color: var(--category-filter-background-color, transparent);
  border-color: var(--category-filter-border-color, var(--color-brand-grey-100));
  border-radius: var(--category-filter-border-radius, var(--size-border-radius-xl));
  color: var(--category-filter-font-color, var(--color-brand-grey-600));
  font-family: var(--category-filter-font-family, var(--button-font-family));
  font-weight: var(--category-filter-font-weight, var(--button-font-weight, var(--size-font-weight-bold)));
  height: max-content;
  transition-duration: 0.2s;
  transition-property: background-color, border, box-shadow, color;
  transition-timing-function: cubic-bezier(0.67, 0.83, 0.67);
  white-space: nowrap;

  &.disabled {
    opacity: 0.65;

    &:hover {
      background-color: var(--category-filter-background-color, transparent);
      color: var(--category-filter-font-color, var(--color-brand-grey-600));
    }
  }

  &.selected {
    background-color: var(--category-filter-selected-background-color, var(--color-brand-primary-500));
    border-color: var(--category-filter-selected-border-color, var(--color-brand-primary-500));
    color: var(--category-filter-font-color, var(--color-brand-white-500));

    &:hover {
      background-color: var(--category-filter-selected-background-color-hover, var(--color-brand-primary-600));
      color: var(--category-filter-font-color, var(--color-brand-white-500));
    }

    &.disabled:hover {
      background-color: var(--category-filter-selected-background-color, var(--color-brand-primary-500));
    }
  }

  &:hover {
    background-color: var(--category-filter-background-color-hover, var(--color-brand-grey-100));
  }

  &:focus {
    outline: 0;
    box-shadow: var(--category-filter-box-shadow-focus, 0 0 0 4px var(--color-brand-grey-200));

    &.selected {
      box-shadow: var(--category-filter-selected-box-shadow-focus, 0 0 0 4px var(--color-brand-success-200));
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: var(--category-filter-box-shadow-focus, 0 0 0 4px var(--color-brand-grey-200));
    border-color: transparent;

    &.selected {
      box-shadow: var(--category-filter-selected-box-shadow-focus, 0 0 0 4px var(--color-brand-success-200));
    }
  }

  &:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}
