:root {
  /* Sizes */
  --alert-font-size: var(--size-font-sm);
  --alert-border-radius: var(--size-border-radius-md);
  --alert-padding-default: var(--size-spacing-md);
  --alert-padding-compact: var(--size-spacing-xs);
  --alert-icon-margin: var(--size-spacing-sm);
  --alert-message-margin: var(--size-spacing-sm);
  --alert-title-margin: var(--size-spacing-2xs);

  /* Colors */
  --alert-background-color-default: var(--color-brand-grey-lighter);
  --alert-background-color-info: var(--color-brand-secondary-lighter);
  --alert-background-color-success: var(--color-brand-success-lighter);
  --alert-background-color-warning: var(--color-brand-warning-lighter);
  --alert-background-color-danger: var(--color-brand-danger-lighter);

  --alert-font-color: var(--color-brand-dark-base);
  --alert-icon-color-default: var(--color-brand-dark-base);
  --alert-icon-color-info: var(--color-brand-info-base);
  --alert-icon-color-success: var(--color-brand-success-base);
  --alert-icon-color-warning: var(--color-brand-warning-base);
  --alert-icon-color-danger: var(--color-brand-danger-base);
}
