.palmetto-components__variables__alert {
  --alert-default-background-color: var(--color-brand-grey-100);
  --alert-default-font-color: var(--color-brand-grey-600);

  --alert-info-background-color: var(--color-brand-info-50);
  --alert-info-font-color: var(--color-brand-info-500);
  
  --alert-success-background-color: var(--color-brand-success-50);
  --alert-success-font-color: var(--color-brand-success-500);

  --alert-warning-background-color: var(--color-brand-warning-50);
  --alert-warning-font-color: var(--color-brand-warning-500);

  --alert-danger-background-color: var(--color-brand-danger-50);
  --alert-danger-font-color: var(--color-brand-danger-500);
}
