:root {
  --button-color-background-disabled: var(--color-brand-primary-light);

  /* small */
  --button-size-sm-border-radius: var(--form-control-size-sm-border-radius);
  --button-size-sm-font-size: var(--form-control-size-sm-font-size);
  --button-size-sm-padding-vertical: var(--size-spacing-xs);
  --button-size-sm-padding-horizontal: var(--size-spacing-sm);

  /* medium (default) */
  --button-size-md-border-radius: var(--form-control-size-md-border-radius);
  --button-size-md-font-size: var(--form-control-size-md-font-size);
  --button-size-md-padding-vertical: var(--size-spacing-sm);
  --button-size-md-padding-horizontal: var(--size-spacing-md);

  /* large */
  --button-size-lg-border-radius: var(--form-control-size-lg-border-radius);
  --button-size-lg-font-size: var(--form-control-size-lg-font-size);
  --button-size-lg-padding-vertical: var(--size-spacing-md);
  --button-size-lg-padding-horizontal: var(--size-spacing-lg);

  /* colors */
  /* PRIMARY */
  --button-background-color-primary: var(--color-brand-primary-base);
  --button-font-color-primary: var(--color-brand-white-base);
  --button-background-hover-color-primary: var(--color-brand-primary-dark);
  --button-background-color-primary-inverse: var(--color-brand-white-base);
  --button-font-color-primary-inverse: var(--color-brand-primary-base);
  --button-background-hover-color-primary-inverse: var(--color-brand-primary-lightest);

  /* SUCCESS */
  --button-background-color-success: var(--color-brand-success-base);
  --button-font-color-success: var(--color-brand-white-base);
  --button-background-hover-color-success: var(--color-brand-success-dark);
  --button-background-color-success-inverse: var(--color-brand-white-base);
  --button-font-color-success-inverse: var(--color-brand-success-base);
  --button-background-hover-color-success-inverse: var(--color-brand-success-lightest);

  /* DANGER */
  --button-background-color-danger: var(--color-brand-danger-base);
  --button-font-color-danger: var(--color-brand-white-base);
  --button-background-hover-color-danger: var(--color-brand-danger-dark);
  --button-background-color-danger-inverse: var(--color-brand-white-base);
  --button-font-color-danger-inverse: var(--color-brand-danger-base);
  --button-background-hover-color-danger-inverse: var(--color-brand-danger-lightest);

  /* GREY */
  --button-background-color-grey: var(--color-brand-grey-base);
  --button-font-color-grey: var(--color-brand-white-base);
  --button-background-hover-color-grey: var(--color-brand-grey-dark);
  --button-background-color-grey-inverse: var(--color-brand-white-base);
  --button-font-color-grey-inverse: var(--color-brand-grey);
  --button-background-hover-color-grey-inverse: var(--color-brand-grey-lightest);

  /* LIGHT */
  --button-background-color-light: var(--color-brand-light-base);
  --button-font-color-light: var(--color-brand-dark-base);
  --button-background-hover-color-light: var(--color-brand-grey-light);
  --button-background-color-light-inverse: var(--color-brand-white-base);
  --button-font-color-light-inverse: var(--color-brand-grey-light);
  --button-background-hover-color-light-inverse: var(--color-brand-grey-lightest);

  /* DARK */
  --button-background-color-dark: var(--color-brand-dark-base);
  --button-font-color-dark: var(--color-brand-white-base);
  --button-background-hover-color-dark: var(--color-brand-black-base);
  --button-background-color-dark-inverse: var(--color-brand-white-base);
  --button-font-color-dark-inverse: var(--color-brand-dark-base);
  --button-background-hover-color-dark-inverse: var(--color-brand-grey-lightest);

  /* WHITE */
  --button-background-color-white: var(--color-brand-white-base);
  --button-font-color-white: var(--color-brand-black-base);
  --button-background-hover-color-white: var(--color-brand-grey-lightest);
  --button-background-color-white-inverse: var(--color-brand-black-base);
  --button-font-color-white-inverse: var(--color-brand-white-base);
  --button-background-hover-color-white-inverse: var(--color-brand-grey-darkest);

  /* BLACK */
  --button-background-color-black: var(--color-brand-black-base);
  --button-font-color-black: var(--color-brand-white-base);
  --button-background-hover-color-black: var(--color-brand-black-base);
  --button-background-color-black-inverse: var(--color-brand-white-base);
  --button-font-color-black-inverse: var(--color-brand-black-base);
  --button-background-hover-color-black-inverse: var(--color-brand-grey-lightest);
}
