:root {
  /* ----GLOBALS---- */

  --form-control-label-margin: var(--size-spacing-xs);

  /* --SIZES-- */

  /* small */
  --form-control-size-sm-border-radius: var(--size-border-radius-sm);
  --form-control-size-sm-font-size: var(--size-font-sm);
  --form-control-size-sm-padding: var(--size-spacing-xs);

  /* medium (default) */
  --form-control-size-md-border-radius: var(--size-border-radius-md);
  --form-control-size-md-font-size: var(--size-font-md);
  --form-control-size-md-padding: var(--size-spacing-sm);

  /* large */
  --form-control-size-lg-border-radius: var(--size-border-radius-md);
  --form-control-size-lg-font-size: var(--size-font-lg);
  --form-control-size-lg-padding: var(--size-spacing-md);

  /* --COLORS-- */
  --form-control-background-color: var(--color-brand-white-base);
  --form-control-disabled-background-color: var(--color-brand-grey-lightest);
  --form-control-error-background-color: var(--color-brand-danger-lightest);
  --form-control-border-color: var(--color-font-grey-lighter);
  --form-control-error-border-color: var(--color-brand-danger-lighter);
  --form-control-focus-border-color: var(--color-brand-grey-dark);
  --form-control-font-color: var(--color-font-base);
  --form-control-disabled-font-color: var(--color-font-grey-light);
  --form-control-placeholder-color: var(--color-font-grey-light);

  /* ----SELECT INPUT---- */
  --form-control-select-chevron-color: var(--color-brand-grey-light);
  --form-control-select-chevron-size: 34px;
  --form-control-select-padding: var(--size-spacing-2xs);
}
