:root {
  /* ----GLOBALS---- */

  --form-control-label-margin: var(--size-spacing-xs);
  --form-control-help-margin: var(--size-spacing-2xs);
  --form-control-line-height: normal;
  --form-control-label-font-weight: var(--size-font-weight-bold);
  --form-control-legend-font-weight: var(--size-font-weight-bold);

  /* --SIZES-- */

  /* x-small */
  --form-control-size-xs-border-radius: var(--size-border-radius-sm);
  --form-control-size-xs-font-size: var(--size-font-xs);
  --form-control-size-xs-padding: var(--size-spacing-2xs);

  /* small */
  --form-control-size-sm-border-radius: var(--size-border-radius-sm);
  --form-control-size-sm-font-size: var(--size-font-sm);
  --form-control-size-sm-padding: var(--size-spacing-xs);

  /* medium (default) */
  --form-control-size-md-label-size: var(--size-font-sm);
  --form-control-size-md-border-radius: var(--size-border-radius-md);
  --form-control-size-md-font-size: var(--size-font-md);
  --form-control-size-md-padding: var(--size-spacing-sm);

  /* large */
  --form-control-size-lg-border-radius: var(--size-border-radius-md);
  --form-control-size-lg-font-size: var(--size-font-lg);
  --form-control-size-lg-padding: var(--size-spacing-md);

  /* --COLORS-- */
  --form-control-background-color: var(--color-brand-white-base);
  --form-control-disabled-background-color: var(--color-brand-grey-lightest);
  --form-control-error-color: var(--color-brand-danger-base);
  --form-control-error-background-color: var(--color-brand-danger-lightest);
  --form-control-border-color: var(--color-brand-grey-lighter);
  --form-control-error-border-color: var(--color-brand-danger-lighter);
  --form-control-focus-border-color: var(--color-brand-grey-dark);
  --form-control-font-color: var(--color-brand-dark-base);
  --form-control-description-color: var(--color-brand-grey-dark);
  --form-control-disabled-font-color: var(--color-brand-grey-light);
  --form-control-placeholder-color: var(--color-brand-grey-light);
  --form-control-icon-color: var(--form-control-placeholder-color);
  --form-control-icon-hover-color: var(--color-brand-grey);

  /* ----RADIO GROUP---- */
  --form-control-radio-group-description-spacing: var(--size-spacing-xs);
  --form-control-radio-group-option-spacing: var(--size-spacing-sm);
  --form-control-radio-group-options-spacing: var(--size-spacing-md);

  /* ----SELECT INPUT---- */
  --form-control-select-icon-size: 34px;
  --form-control-select-padding: var(--size-spacing-2xs);
  --form-control-select-clear-icon-margin: var(--size-spacing-xs);

  /* ----TEXT INPUT---- */
  --form-control-text-clear-icon-margin: var(--size-spacing-xs);
  --form-control-text-clear-icon-font-size: var(--size-font-lg);
}
