.palmetto-components__variables__form-control {
  // ----GLOBALS----
  --INTERNAL_form-control-box-shadow-focus: 0 0 0 4px
    var(--color-border-primary);
  --INTERNAL_form-control-label-margin: var(--size-spacing-xs);
  --INTERNAL_form-control-help-margin: var(--size-spacing-2xs);
  --INTERNAL_form-control-help-text-font-weight: var(
    --size-font-weight-regular
  );
  --INTERNAL_form-control-label-font-weight: var(--size-font-weight-medium);
  --INTERNAL_form-control-legend-font-weight: var(--size-font-weight-medium);
  --INTERNAL_form-control-box-shadow: 0 3px 0 rgb(0 0 0 / 5%);
  --INTERNAL_form-control-help-text-font-size: var(--size-font-sm);

  // --SIZES--

  // x-small
  --INTERNAL_form-control-size-xs-border-radius: var(--size-border-radius-sm);
  --INTERNAL_form-control-size-xs-font-size: var(--size-font-xs);
  --INTERNAL_form-control-size-xs-padding: var(--size-spacing-2xs);

  // small
  --INTERNAL_form-control-size-sm-border-radius: var(--size-border-radius-sm);
  --INTERNAL_form-control-size-sm-font-size: var(--size-font-sm);
  --INTERNAL_form-control-size-sm-padding: var(--size-spacing-xs);

  // medium (default)
  --INTERNAL_form-control-size-md-label-size: var(--size-font-sm);
  --INTERNAL_form-control-size-md-border-radius: var(--size-border-radius-md);
  --INTERNAL_form-control-size-md-font-size: var(--size-font-md);
  --INTERNAL_form-control-size-md-padding: var(--size-spacing-sm);

  // large
  --INTERNAL_form-control-size-lg-border-radius: var(--size-border-radius-md);
  --INTERNAL_form-control-size-lg-font-size: var(--size-font-lg);
  --INTERNAL_form-control-size-lg-padding: var(--size-spacing-md);

  // --COLORS--
  --INTERNAL_form-control-border-color-focus: var(--color-brand-grey-600);
  --INTERNAL_form-control-border-color-hover: var(--color-brand-grey-300);
  --INTERNAL_form-control-border-color-selected: var(--color-brand-primary-500);
  --INTERNAL_form-control-border-color-selected-error: var(
    --color-brand-danger-500
  );
  --INTERNAL_form-control-border-color-selected-hover: var(
    --color-brand-primary-500
  );

  // ----RADIO GROUP----
  --INTERNAL_form-control-radio-group-description-spacing: var(
    --size-spacing-xs
  );
  --INTERNAL_form-control-radio-group-options-spacing: var(--size-spacing-md);

  // ----SELECT INPUT----
  --INTERNAL_form-control-select-sm-icon-size: 20px;
  --INTERNAL_form-control-select-md-icon-size: 32px;
  --INTERNAL_form-control-select-lg-icon-size: 34px;
  --INTERNAL_form-control-select-padding: var(--size-spacing-2xs);
  --INTERNAL_form-control-select-clear-icon-margin: var(--size-spacing-xs);

  // ----TEXT INPUT----
  --INTERNAL_form-control-text-clear-icon-margin: var(--size-spacing-xs);
  --INTERNAL_form-control-text-clear-icon-font-size: var(--size-font-md);
}
