:root {
  /* ----GLOBALS---- */

  /* --SIZES-- */

  /* small */
  --form-control-size-sm-border-radius: var(--size-border-radius-sm);
  --form-control-size-sm-font-size: var(--size-font-sm);
  --form-control-size-sm-padding: var(--size-spacing-xs) var(--size-spacing-sm);

  /* medium (default) */
  --form-control-size-md-border-radius: var(--size-border-radius-md);
  --form-control-size-md-font-size: var(--size-font-md);
  --form-control-size-md-padding: var(--size-spacing-sm) var(--size-spacing-md);

  /* large */
  --form-control-size-lg-border-radius: var(--size-border-radius-md);
  --form-control-size-lg-font-size: var(--size-font-lg);
  --form-control-size-lg-padding: var(--size-spacing-md) var(--size-spacing-lg);

  /* --COLORS-- */
  --form-control-background-color: var(--color-brand-white-base);
  --form-control-disabled-background-color: var(--color-base-grey-50);
  --form-control-error-background-color: var(--color-base-red-50);
  --form-control-border-color: var(--color-font-grey-lighter);
  --form-control-error-border-color: var(--color-base-red-200);
  --form-control-focus-border-color: var(--color-base-grey-600);
  --form-control-font-color: var(--color-font-base);
  --form-control-disabled-font-color: var(--color-font-grey-light);
  --form-control-placeholder-color: var(--color-font-grey-light);

  /* ----SELECT INPUT---- */
  --form-control-select-chevron-color: var(--color-brand-grey-light);
  --form-control-select-chevron-size: 34px;
  --form-control-select-padding: var(--size-spacing-2-xs);
}
