.palmetto-components__variables__heading {
  --heading-font-family: var(--asset-fonts-brand);
  --heading-font-weight: var(--size-font-weight-black);
  --heading-line-height: var(--size-line-height-heading);
}