:root {
  /* Colors */
  --text-link-font-color-primary: var(--color-brand-primary-base);
  --text-link-font-color-primary-hover: var(--color-brand-primary-600);

  --text-link-font-color-danger: var(--color-brand-danger-base);
  --text-link-font-color-danger-hover: var(--color-brand-danger-600);
}
