:root {
  /* Colors */
  --text-link-font-color-primary: var(--color-font-primary);
  --text-link-font-color-primary-hover: var(--color-brand-success-darker);

  --text-link-font-color-danger: var(--color-font-danger);
  --text-link-font-color-danger-hover: var(--color-brand-danger-dark);
}
