:root {
  --table-border-color: var(--color-brand-grey-lighter);

  --table-background-color: var(--color-brand-white-base);

  --table-padding-horizontal: var(--size-spacing-lg);
  --table-padding-vertical: var(--size-spacing-md);
  --table-padding-header-vertical: var(--size-spacing-md);
  --table-padding-horizontal-compact: var(--size-spacing-xs);
  --table-padding-vertical-compact: var(--size-spacing-xs);

  --table-header-color: var(--color-brand-dark-base);
  --table-header-font-size: var(--size-font-xs);
  --table-header-font-weight: var(--size-font-weight-bold);
  --table-header-sort-icon-spacing: var(--size-spacing-xs);

  --table-cell-font-size: var(--size-font-sm);

  --table-row-hover-background: var(--color-brand-grey-lightest);
  --table-row-striped-background: var(--color-brand-grey-lightest);
}
