.palmetto-components__variables__table {
  --INTERNAL_table-border-color: var(--color-brand-grey-100);
  --INTERNAL_table-border-width: var(--size-border-xs);
  --INTERNAL_table-background-color: var(--color-brand-white-500);
  --INTERNAL_table-font-color: var(--color-brand-grey-600);

  --INTERNAL_table-padding-horizontal: var(--size-spacing-lg);
  --INTERNAL_table-padding-vertical: var(--size-spacing-md);
  --INTERNAL_table-compact-padding-horizontal: var(--size-spacing-xs);
  --INTERNAL_table-compact-padding-vertical: var(--size-spacing-xs);

  --INTERNAL_table-header-background-color: var(--color-brand-white-500);
  --INTERNAL_table-header-font-size: var(--size-font-xs);
  --INTERNAL_table-header-font-color: var(--color-brand-grey-600);
  --INTERNAL_table-header-font-weight: var(--size-font-weight-bold);
  --INTERNAL_table-header-sort-icon-spacing: var(--size-spacing-xs);
  --INTERNAL_table-header-padding-vertical: var(--size-spacing-md);
  --INTERNAL_table-header-border-width: var(--size-border-xs);

  --INTERNAL_table-font-size: var(--size-font-sm);

  --INTERNAL_table-row-hover-background: var(--color-brand-grey-50);
  --INTERNAL_table-row-striped-background: var(--color-brand-grey-50);
}
