.table-cell {
  border-bottom: 1px solid var(--table-border-color);
  padding: var(--table-padding-vertical) var(--table-padding-horizontal);
  font-size: var(--table-cell-font-size);

  &.sticky {
    position: absolute;
    top: auto;
    left: 0;
    margin-top: 1px;
    border-right: 2px solid var(--table-border-color);
  }

  &.borderless {
    border: 0;
  }

  &.compact {
    padding: var(--table-padding-vertical-compact) var(--table-padding-horizontal-compact);
  }

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }
}
