.table-cell {
  border: 1px solid var(--color-brand-grey-lighter);
  padding: var(--size-spacing-sm);

  .compact {
    padding: var(--size-spacing-xs);
  }
}

.truncate-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
