.table-cell {
  border-bottom: 1px solid var(--table-border-color);
  background-color: var(--table-background-color);
  padding: var(--table-padding-vertical) var(--table-padding-horizontal);
  font-size: var(--table-cell-font-size);

  &.borderless {
    border: 0;
  }

  &.compact {
    padding: var(--table-padding-vertical-compact) var(--table-padding-horizontal-compact);
  }

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.sticky {
    position: sticky;
    left: 0;
    z-index: calc(var(--size-z-index-sticky) - 1);
    box-shadow: var(--size-box-shadow-sm);
    font-size: var(--table-header-font-size);
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }
}
