/* The following styles required the :global tag since they need to be applied to
react-select elements for which we do not own the markup */

/* stylelint-disable */
:global(.select-input-wrapper) {
  :global(.react-select) {
    &:hover {
      :global(.react-select__dropdown-indicator) {
        color: var(--form-control-focus-border-color);
      }
    }

    :global(.react-select__control) {
      line-height: var(--form-control-line-height);
      border-color: var(--form-control-border-color);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);

      :global(.react-select__value-container) {
        padding: 0;
      }

      :global(.react-select__placeholder) {
        color: var(--form-control-placeholder-color);
      }

      :global(.react-select__clear-indicator) {
        padding: 7px;
      }

      :global(.react-select__indicator-separator) {
        display: none;
      }

      .react-select-icon {
        padding: 0;
        padding-right: 2px;
        color: var(--form-control-icon-color);

        &:hover {
          color: var(--form-control-icon-hover-color);
        }
      }

      :global(.react-select__clear-indicator) {
        @extend .react-select-icon;

        margin-right: var(--form-control-select-clear-icon-margin);
      }

      &:global(.react-select__control--is-focused) {
        border-color: var(--form-control-focus-border-color);
        box-shadow: none;
      }

      &:global(.react-select__control--is-disabled) {
        :global(.react-select__dropdown-indicator) {
          color: var(--form-control-placeholder-color);
        }
      }
    }

    :global(.react-select__menu) {
      z-index: var(--size-z-index-popover);
    }

    &.error {
      :global(.react-select__control) {
        border-color: var(--form-control-error-border-color);
        background-color: var(--form-control-error-background-color);

        &:global(.react-select__control--is-focused) {
          outline: none;
          border-color: var(--form-control-border-color);
          background-color: var(--form-control-background-color);
        }
      }
    }
  }

  &.sm {
    :global(.react-select__control) {
      border-radius: var(--form-control-size-sm-border-radius);
      padding: 0 8px;
      min-height: 32px;
    }

    :global(.react-select__single-value) {
      font-size: var(--form-control-size-sm-font-size);
    }

    :global(.react-select__multi-value__label) {
      font-size: var(--form-control-size-sm-font-size);
    }

    :global(.react-select__dropdown-indicator) {
      padding: 0;
    }

    :global(.react-select__dropdown-indicator) {
      @extend .react-select-icon;

      svg {
        width: var(--form-control-select-sm-icon-size);
        height: var(--form-control-select-sm-icon-size);
      }
    }
  }

  &.md {
    :global(.react-select__control) {
      border-radius: var(--form-control-size-md-border-radius);
      padding: 4px 8px;
    }

    :global(.react-select__single-value) {
      font-size: var(--form-control-size-md-font-size);
    }

    :global(.react-select__multi-value__label) {
      font-size: var(--form-control-size-md-font-size);
    }

    :global(.react-select__dropdown-indicator) {
      padding: 0;
    }

    :global(.react-select__dropdown-indicator) {
      @extend .react-select-icon;

      svg {
        width: var(--form-control-select-md-icon-size);
        height: var(--form-control-select-md-icon-size);
      }
    }
  }

  &.lg {
    :global(.react-select__control) {
      padding: 9px 8px 10px;
      border-radius: var(--form-control-size-md-border-radius);
    }

    :global(.react-select__single-value) {
      font-size: var(--form-control-size-lg-font-size);
    }

    :global(.react-select__multi-value__label) {
      font-size: var(--form-control-size-lg-font-size);
      padding: 2px 6px 3px;
    }

    :global(.react-select__dropdown-indicator) {
      padding: 0;
    }

    :global(.react-select__dropdown-indicator) {
      @extend .react-select-icon;

      svg {
        width: var(--form-control-select-lg-icon-size);
        height: var(--form-control-select-lg-icon-size);
      }
    }
  }

  &.disabled {
    :global(.react-select__control--is-disabled) {
      background-color: var(--form-control-disabled-background-color);
    }
  }
}
/* stylelint-enable */

.select-input-label {
  margin-bottom: var(--form-control-label-margin);
}
