@import '~@palmetto/palmetto-design-tokens/build/scss/variables-size';
/* The following styles required the :global tag since they need to be applied to
react-select elements for which we do not own the markup */

@mixin react-select-icon {
  padding: 0;
  padding-right: 2px;
  color: var(--form-control-icon-color, var(--INTERNAL_form-control-icon-color));

  &:hover {
    color: var(--form-control-icon-hover-color, var(--INTERNAL_form-control-icon-hover-color));
  }
}

%react-select-icon {
  @include react-select-icon;
}

.react-select-icon {
  @extend %react-select-icon;
}

/* stylelint-disable */
@mixin size-sm {
  :global(.react-select__control) {
    border-radius: var(--form-control-size-sm-border-radius, var(--INTERNAL_form-control-size-sm-border-radius));
    padding: 0 8px;
    min-height: 32px;
  }

  :global(.react-select__option),
  :global(.react-select__placeholder),
  :global(.react-select__single-value) {
    font-size: var(--form-control-size-sm-font-size, var(--INTERNAL_form-control-size-sm-font-size));
  }

  :global(.react-select__multi-value__label) {
    font-size: var(--form-control-size-sm-font-size, var(--INTERNAL_form-control-size-sm-font-size));
  }

  :global(.react-select__dropdown-indicator) {
    padding: 0;
  }

  :global(.react-select__dropdown-indicator) {
    @include react-select-icon;

    svg {
      width: var(--form-control-select-sm-icon-size, var(--INTERNAL_form-control-select-sm-icon-size));
      height: var(--form-control-select-sm-icon-size, var(--INTERNAL_form-control-select-sm-icon-size));
    }
  }
}

%size-sm {
  @include size-sm;
}

.size-sm {
  @extend %size-sm;
}

@mixin size-md {
  :global(.react-select__control) {
    border-radius: var(--form-control-size-md-border-radius, var(--INTERNAL_form-control-size-md-border-radius));
    padding: var(--form-control-size-md-padding, var(--INTERNAL_form-control-size-md-padding));
  }

  :global(.react-select__single-value) {
    font-size: var(--form-control-size-md-font-size, var(--INTERNAL_form-control-size-md-font-size));
  }

  :global(.react-select__multi-value__label) {
    font-size: var(--form-control-size-md-font-size, var(--INTERNAL_form-control-size-md-font-size));
  }

  :global(.react-select__dropdown-indicator) {
    padding: 0;
  }

  :global(.react-select__dropdown-indicator) {
    @include react-select-icon;

    svg {
      width: var(--form-control-select-md-icon-size, var(--INTERNAL_form-control-select-md-icon-size));
      height: var(--form-control-select-md-icon-size, var(--INTERNAL_form-control-select-md-icon-size));
    }
  }
}

%size-md {
  @include size-md;
}

.size-md {
  @extend %size-md;
}

@mixin size-lg {
  :global(.react-select__control) {
    padding: 9px 8px 10px;
    border-radius: var(--form-control-size-md-border-radius,var(--INTERNAL_form-control-size-md-border-radius));
  }

  :global(.react-select__option),
  :global(.react-select__placeholder),
  :global(.react-select__single-value) {
    font-size: var(--form-control-size-lg-font-size, var(--INTERNAL_form-control-size-lg-font-size));
  }

  :global(.react-select__multi-value__label) {
    font-size: var(--form-control-size-lg-font-size, var(--INTERNAL_form-control-size-lg-font-size));
    padding: 2px 6px 3px;
  }

  :global(.react-select__dropdown-indicator) {
    padding: 0;
  }

  :global(.react-select__dropdown-indicator) {
    @include react-select-icon;

    svg {
      width: var(--form-control-select-lg-icon-size, var(--INTERNAL_form-control-select-lg-icon-size));
      height: var(--form-control-select-lg-icon-size, var(--INTERNAL_form-control-select-lg-icon-size));
    }
  }
}

%size-lg {
  @include size-lg;
}

.size-lg {
  @extend %size-lg;
}

:global(.select-input-wrapper) {
  font-family: var(--form-control-font-family, var(--INTERNAL_form-control-font-family));

  :global(.react-select) {
    &:hover {
      :global(.react-select__dropdown-indicator) {
        color: var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
      }
    }

    :global(.react-select__control) {
      line-height: var(--form-control-line-height, var(--INTERNAL_form-control-line-height));
      border-color: var(--form-control-border-color, var(--INTERNAL_form-control-border-color));
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);

      :global(.react-select__value-container) {
        padding: 0;
      }

      :global(.react-select__placeholder) {
        color: var(--form-control-placeholder-color, var(--INTERNAL_form-control-placeholder-color));
      }

      :global(.react-select__clear-indicator) {
        padding: 7px;
      }

      :global(.react-select__indicator-separator) {
        display: none;
      }

      :global(.react-select__clear-indicator) {
        @extend .react-select-icon;

        margin-right: var(--form-control-select-clear-icon-margin, var(--INTERNAL_form-control-select-clear-icon-margin));
      }

      &:global(.react-select__control--is-focused) {
        border-color: var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
        box-shadow: none;
      }

      &:global(.react-select__control--is-disabled) {
        :global(.react-select__dropdown-indicator) {
          color: var(--form-control-placeholder-color, var(--INTERNAL_form-control-placeholder-color));
        }
      }
    }

    :global(.react-select__menu) {
      z-index: var(--size-z-index-popover);
    }

    &.error {
      :global(.react-select__control) {
        border-color: var(--form-control-error-border-color, var(--INTERNAL_form-control-error-border-color));
        background-color: var(--form-control-error-background-color, var(--INTERNAL_form-control-error-background-color));

        &:global(.react-select__control--is-focused) {
          outline: none;
          border-color: var(--form-control-border-color, var(--INTERNAL_form-control-border-color));
          background-color: var(--form-control-background-color, var(--INTERNAL_form-control-background-color));
        }
      }
    }
  }

  &.size-sm { @extend %size-sm; }
  &.size-md { @extend %size-md; }
  &.size-lg { @extend %size-lg; }

  @media (min-width: $size-breakpoint-tablet) {
    &.size-sm-tablet { @include size-sm; }
    &.size-md-tablet { @include size-md; }
    &.size-lg-tablet { @include size-lg; }
  }

  @media (min-width: $size-breakpoint-desktop) {
    &.size-sm-desktop { @include size-sm; }
    &.size-md-desktop { @include size-md; }
    &.size-lg-desktop { @include size-lg; }
  }

  @media (min-width: $size-breakpoint-hd) {
    &.size-sm-hd { @include size-sm; }
    &.size-md-hd { @include size-md; }
    &.size-lg-hd { @include size-lg; }
  }

  &.disabled {
    :global(.react-select__control--is-disabled) {
      background-color: var(--form-control-disabled-background-color, var(--INTERNAL_form-control-disabled-background-color));
    }
  }
}
/* stylelint-enable */

.select-input-label {
  /* while we try to avoid important statements, this one is necesary to override bootstrap utilities that are currently in use 
  by some of our teams */
  margin-bottom: var(--form-control-label-margin, var(--INTERNAL_form-control-label-margin)) !important;
}
