.table-body {
  &.striped {
    tr:nth-of-type(odd) {
      th,
      td {
        background-color: var(--color-background-secondary);
      }
    }
  }

  &.hover {
    tr:hover {
      th,
      td {
        background-color: var(--color-background-tertiary);
      }
    }
  }
}
