.table-body {
  th,
  td {
    background-color: var(--table-background-color);
  }

  &.striped {
    tr:nth-of-type(odd) {
      th,
      td {
        background-color: var(--table-row-striped-background);
      }
    }
  }

  &.hover {
    tr:hover {
      th,
      td {
        background-color: var(--table-row-hover-background);
      }
    }
  }
}
