.container {
  .table {
    margin-top: 5px;
    border: 1px solid var(--color-brand-grey-dark);
    cursor: default;
    border-collapse: collapse;
    white-space: normal;
    color: var(--color-font-base) !important;

    th,
    td {
      border: 1px solid var(--color-brand-grey-dark);
      padding: var(--size-spacing-sm);
    }
  
    &.fixed-width-columns {
      width: fit-content;
      table-layout: fixed;
    }
  }

  .less-padding {
    th,
    td {
      padding: var(--size-spacing-xs);
    }
  }
  
  .borderless {
    border: none;

    th,
    td,
    thead th,
    tbody + tbody {
      border: 0;
    }
  }
  
  .striped {
    tbody tr:nth-of-type(odd) {
      background-color: var(--color-brand-grey-lighter);
    }
  }
  
  .hover {
    tbody tr:hover {
      background-color: var(--color-font-base);
      color: var(--color-brand-primary-light);
    }
  }

  &.responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    > .table-bordered {
      border: 0;
    }
  }
}


