.radio-input-reset {
  composes: base-css-reset from '../../../styles/reset.scss';
}

.option {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: var(--form-control-radio-group-option-spacing);
  }

  .input {
    margin: 0 var(--size-spacing-xs) 0 var(--size-spacing-2xs);
  }
}
