.box-transition {
  transition-duration: 0.2s;
  transition-property:
    background-color,
    border,
    box-shadow,
    color,
    font-size,
    border-width,
    border-color,
    border-top-width,
    border-right-width,
    border-bottom-width,
    border-left-width;
  transition-timing-function: cubic-bezier(0.67, 0.83, 0.67);
}
