.text-link {
  font-size: inherit;

  &.primary {
    text-decoration-color: var(--text-link-font-color-primary);
    color: var(--text-link-font-color-primary);

    &:hover {
      text-decoration-color: var(--text-link-font-color-primary-hover);
      color: var(--text-link-font-color-primary-hover);
    }
  }

  &.danger {
    text-decoration-color: var(--text-link-font-color-danger);
    color: var(--text-link-font-color-danger);

    &:hover {
      text-decoration-color: var(--text-link-font-color-danger-hover);
      color: var(--text-link-font-color-danger-hover);
    }
  }
}
