@import '~@palmetto/palmetto-design-tokens/build/scss/variables-size';

%disabled-base {
  background-color: var(--form-control-disabled-background-color, var(--INTERNAL_form-control-disabled-background-color));
  color: var(--form-control-disabled-font-color, var(--INTERNAL_form-control-disabled-font-color));

  &:hover {
    cursor: not-allowed;
  }

  &::before,
  &::after {
    cursor: not-allowed;
  }
}

@mixin size-sm {
  border-radius: var(--form-control-size-sm-border-radius, var(--INTERNAL_form-control-size-sm-border-radius));
  font-size: var(--form-control-size-sm-font-size, var(--INTERNAL_form-control-size-sm-font-size));

  > select {
    border-radius: var(--form-control-size-lg-border-radius, var(--INTERNAL_form-control-size-lg-border-radius));
    padding-left: var(--form-control-size-sm-padding, var(--INTERNAL_form-control-size-sm-padding));
    padding-right: var(--size-spacing-2xl);
    padding-top: calc(var(--form-control-size-sm-padding, var(--INTERNAL_form-control-size-sm-padding)) - 1px);
    padding-bottom: calc(var(--form-control-size-sm-padding, var(--INTERNAL_form-control-size-sm-padding)) - 1px);
  }

  &::before,
  &::after {
    width: 8px;
    height: 2px;
    top: calc(var(--size-spacing-sm) + 3px);
  }

  &::before {
    right: calc(var(--size-spacing-sm) + 8px);
  }

  &::after {
    right: calc(var(--size-spacing-sm) + 3px);
  }
}

%size-sm {
  @include size-sm;
}

.size-sm {
  @extend %size-sm;
}

@mixin size-md {
  border-radius: var(--form-control-size-md-border-radius, var(--INTERNAL_form-control-size-md-border-radius));
  font-size: var(--form-control-size-md-font-size, var(--INTERNAL_form-control-size-md-font-size));

  > select {
    border-radius: var(--form-control-size-lg-border-radius, var(--INTERNAL_form-control-size-lg-border-radius));
    padding-left: var(--form-control-size-md-padding, var(--INTERNAL_form-control-size-md-padding));
    padding-right: var(--size-spacing-3xl);
    padding-top: calc(var(--form-control-size-md-padding, var(--INTERNAL_form-control-size-md-padding)) - 1px);
    padding-bottom: calc(var(--form-control-size-md-padding, var(--INTERNAL_form-control-size-md-padding)) - 1px);
  }

  &::before,
  &::after {
    width: 14px;
    height: 4px;
    top: calc(var(--size-spacing-md) + 3px);
  }

  &::before {
    right: calc(var(--size-spacing-sm) + 11px);
  }

  &::after {
    right: calc(var(--size-spacing-sm) + 3px);
  }
}

%size-md { @include size-md; }

.size-md { @extend %size-md; }

@mixin size-lg {
  border-radius: var(--form-control-size-lg-border-radius, var(--INTERNAL_form-control-size-lg-border-radius));
  font-size: var(--form-control-size-lg-font-size, var(--INTERNAL_form-control-size-lg-font-size));

  > select {
    border-radius: var(--form-control-size-lg-border-radius, var(--INTERNAL_form-control-size-lg-border-radius));
    padding-left: var(--form-control-size-lg-padding, var(--INTERNAL_form-control-size-lg-padding));
    padding-right: var(--size-spacing-3xl);
    padding-top: calc(var(--form-control-size-lg-padding, var(--INTERNAL_form-control-size-lg-padding)) - 1px);
    padding-bottom: calc(var(--form-control-size-lg-padding, var(--INTERNAL_form-control-size-lg-padding)) - 1px);
  }

  &::before,
  &::after {
    width: 14px;
    height: 4px;
    top: calc(var(--size-spacing-md) + 9px);
  }

  &::before {
    right: calc(var(--size-spacing-sm) + 11px);
  }

  &::after {
    right: calc(var(--size-spacing-sm) + 3px);
  }
}

%size-lg { @include size-lg; }

.size-lg { @extend %size-lg; }

.select-input-native-wrapper {
  font-family: var(--form-control-font-family, var(--INTERNAL_form-control-font-family));
  position: relative;
  border: 1px solid var(--form-control-border-color, var(--INTERNAL_form-control-border-color));
  box-shadow: var(--form-control-box-shadow, var(--INTERNAL_form-control-box-shadow));
  background-color: var(--form-control-background-color, var(--INTERNAL_form-control-background-color));

  &:focus-within {
    outline: none;
    border-color: var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
  }
  
  &::before,
  &::after {
    border-radius: 100px;
    content: '';
    position: absolute;
    background: var(--color-brand-grey-light);
    pointer-events: none;
  }
  
  &::before {
    transform-origin: 50% 50%;
    transform: rotate(42deg);
    z-index: 1; /* change the stacking context so this half of the chevron stays above the disabled background color. */
  }

  &::after {
    transform-origin: 50% 50%;
    transform: rotate(-42deg);
  }

  &.disabled {
    @extend %disabled-base;
  }

  > select {
    box-sizing: border-box;
    appearance: none;
    transition-duration: 300ms;
    transition-property: border, background-color;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    border: none;
    background: none;
    width: 100%;
    line-height: var(--form-control-text-line-height, var(--INTERNAL_form-control-text-line-height));

    &:focus {
      outline: none;
      border-color: var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
      background-color: var(--form-control-background-color, var(--INTERNAL_form-control-background-color));
    }

    &:disabled {
      @extend %disabled-base;
    }
  }

  &.size-sm { @extend %size-sm; }
  &.size-md { @extend %size-md; }
  &.size-lg { @extend %size-lg; }

  @media (min-width: $size-breakpoint-tablet) {
    &.size-sm-tablet { @include size-sm; }
    &.size-md-tablet { @include size-md; }
    &.size-lg-tablet { @include size-lg; }
  }

  @media (min-width: $size-breakpoint-desktop) {
    &.size-sm-desktop { @include size-sm; }
    &.size-md-desktop { @include size-md; }
    &.size-lg-desktop { @include size-lg; }
  }

  @media (min-width: $size-breakpoint-hd) {
    &.size-sm-hd { @include size-sm; }
    &.size-md-hd { @include size-md; }
    &.size-lg-hd { @include size-lg; }
  }

  &.error {
    border-color: var(--form-control-error-border-color, var(--INTERNAL_form-control-error-border-color));
    background-color: var(--form-control-error-border-color, var(--INTERNAL_form-control-error-background-color));

    select:focus {
      outline: none;
      border-color: var(--form-control-focus-border-color, var(--INTERNAL_form-control-focus-border-color));
      background-color: transparent;
    }
  }
}

.text-input-label {
  margin-bottom: var(--form-control-label-margin, var(--INTERNAL_form-control-label-margin));
}
