.label {
  display: block;
  color: var(--color-font-base);
  font-size: var(--size-font-sm);
  font-weight: 700;
  margin: 0;
  padding: 0;

  &.disabled {
    color: var(--color-font-grey-light);
  }

  &.error {
    color: var(--color-brand-danger-base);
  }
}
