@import '../../styles/variables/tokens.scss';

.label {
  font-size: var(--size-font-sm);
  color: var(--color-font-base);
  display: block;
  font-weight: 700;

  &.error {
    color: var(--color-brand-danger-base);
  }
}
