@import '../../styles/variables.scss';

.Palmetto-FormLabel {
  font-size: $size-font-sm;
  color: $color-font-base;
  display: block;
  font-weight: 700;

  &.inline {
    display: inline-block;
  }

  &.disabled {
    color: $color-font-grey-light;
  }

  &.error {
    color: $color-brand-danger-base;

    &.disabled {
      color: $color-brand-danger-lighter;
    }
  }

  +input[type=text],
  +input[type=tel],
  +input[type=password],
  +input[type=search],
  +input[type=url],
  +.selectInput {
    margin-top: $size-spacing-xs;
  }
}
