@import '../../styles/variables.scss';

.Palmetto-FormLabel {
  display: block;
  color: $color-font-base;
  font-size: $size-font-sm;
  font-weight: 700;

  &.error {
    color: $color-brand-danger-base;
  }

  +input[type=text],
  +input[type=tel],
  +input[type=password],
  +input[type=search],
  +input[type=url],
  +.selectInput {
    margin-top: $size-spacing-xs;
  }
}
