name: Test Coverage on Branch Push

on:
  push:
    branches: [develop, master]

jobs:
  unit-tests:
      name: unit tests
      runs-on: ubuntu-latest
      env:
        CI: true
      steps:
        - uses: actions/checkout@v2
        - uses: actions/cache@v1
          with:
            path: ~/.cache/yarn
            key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
            restore-keys: |
              ${{ runner.os }}-yarn-
        - name: install dependencies
          run: yarn install
        - name: unit test
          run: |
            yarn test
        - name: Upload coverage to Codecov  
          uses: codecov/codecov-action@v1.0.7
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            file: ./coverage/clover.xml
            flags: unittests
            name: codecov-umbrella
            yml: ./codecov.yml 
            fail_ci_if_error: true